* {font-family: 'Abel', 'Arial', sans-serif;}
.bg-dark {background-color: #58585A!important;}
.jumbotron {background-color: #58585a1c;}
#home a, .article a {text-decoration: none; color: #D90000;}
#home a .card:hover {background-color: #58585A;}
h1.jumbotron-heading, #home h2 {color:#D90000;}
#home .card-body p.card-text, .dl-link {color:#BBB;}
#home .card-body .date {color:#AAA;}
#home a .card:hover h2 {color: #FFF;}
#home a .card:hover .card-body p.card-text {color: #DDD;}
#home a .card:hover .card-body .date {color:#CCC;}
#home h2 {font-size:1.1rem;}
#home img, .article img.gallery {object-fit: cover; overflow: hidden;}
.mainimg {width: 100%;}
#home a .card .card-body h2 {line-height: 1.3rem;}
body #home a .card .card-body p.card-text {line-height: 1.1rem;}
.btn-primary {background-color: #d90000 !important; border-color: #d90000 !important;}
a.anchor {display: block;position: relative;top: -50px;visibility: hidden;}
#home a.verybigbtn {color:#FFF; font-size: 2rem; padding: 2rem 5rem 2rem 5rem; margin: 2rem 0 4rem 0; border-radius: 1rem;}
.article a.verybigbtn {color:#FFF; font-size: 1.3rem; padding: 1rem 3rem 1rem 3rem; margin: 2rem 0 4rem 0; border-radius: 0.7rem;}
.badge-lg {font-size: 1.1rem;}
.home-h1 {font-size: 1rem; color: grey;}