<!--FOOTER-->
<div class="main-block bg-green lg-padd">
  <div class="container">

    <h2>Contact</h2>

    <div class="card p-4">
      <h3>Téléphone</h3>
      <p>06 43 67 78 14</p>
    </div>

    <div class="card p-4">
      <h3>Email</h3>
      <p>contact@vraieforet.com</p>
    </div>

    <div class="card p-4">
      <h3>Instagram</h3>
      <p>Vraie Forêt</p>
    </div>

    <div class="card p-4">
      <h3>LinkedIn</h3>
      <p>Vraie Forêt</p>
    </div>

    <div class="card p-4">
      <h3>YouTube</h3>
      <p>Vraie Forêt</p>
    </div>
    
    <br />
    <hr />
    <br />

    <h2>Zones d'intervention</h2>
    <p class="white text-center">
      Nous intervenons principalement sur les départements suivants :
      Loire-Atlantique (44), Vendée (85), Maine et Loire (49) et Île et Vilaine
      (35).
    </p>
    <p class="white text-center">
      Nous pouvons intervenir très rapidement à Nantes car nous y sommes situés et
      nous sommes rapidement sur place pour les communes suivantes :
    </p>
    {% if footerCommunes %}
    <p class="white text-center small">
      {% for commune in footerCommunes %}
      <a class="white" href="/plantation/{{commune.slug}}.html">{{commune.name}}</a>{{ "," if not loop.last }}
      {% endfor %}
    </p>
    {% endif %}
    <p class="white text-center"><a class="white" href="/plantation/index.html">Voir toutes nos zones d'intervention &raquo;</a></p>

    <p class="white text-center">VraieForet.com - Copyright 2021-2022 - Mentions légales</p>
    <p class="white text-center small">
      Société par action simplifiée - Capital : 1000,00 € - Siret : 913 113 445
      00013 - RCS : Nantes - APE : 8130Z - N°TVA : FR13913113445
    </p>

  </div>
</div>
<!--FIN DU FOOTER-->
