<!--FOOTER-->
<div class="main-block bg-vf lg-padd">
  <div class="container contact text-center">
    <a class="anchor" name="Contact"></a>
    <h2>Contact</h2>
    <div class="row txt-grey">
      <div class="col">
        <div class="card p-4">
          <h3>📱 Téléphone</h3>
          <p><a class="grey-link" href="tel:+33643677814" target="_blank">06 43 67 78 14</a></p>
        </div>
      </div>
      <div class="col">
        <div class="card p-4">
          <h3>✉️ Email</h3>
          <p><a class="grey-link" href="mailto:contact@vraieforet.com" target="_blank">contact@vraieforet.com</a></p>
        </div>
      </div>
      <div class="col">
        <div class="card p-4">
          <h3>📷 Instagram</h3>
          <p><a class="grey-link" href="https://www.instagram.com/vraieforet/" target="_blank">Vraie Forêt</a></p>
        </div>
      </div>
      <div class="col">
        <div class="card p-4">
          <h3>📰 LinkedIn</h3>
          <p><a class="grey-link" href="https://www.linkedin.com/company/vraie-for%C3%AAt/" target="_blank">Vraie Forêt</a></p>
        </div>
      </div>
      <div class="col">
        <div class="card p-4">
          <h3>📺 YouTube</h3>
          <p><a class="grey-link" href="https://www.youtube.com/@vraieforet" target="_blank">Vraie Forêt</a></p>
        </div>
      </div>
    </div>
      
    
    <br />
    <hr class="seperator" />
    <br />


    <p class="white text-center">
      Nous intervenons principalement sur les départements suivants :
      Loire-Atlantique (44), Vendée (85), Maine et Loire (49).
    </p>
    <p class="white text-center">
      Nous pouvons intervenir très rapidement à Nantes car nous y sommes situés et
      nous sommes rapidement sur place pour les communes suivantes :
    </p>
    {% if footerCommunes %}
    <p class="white text-center v-small">
      {% for commune in footerCommunes %}
      <a class="white" href="/plantation/{{commune.slug}}.html">{{commune.name}}</a>{{ "," if not loop.last }}
      {% endfor %}
    </p>
    {% endif %}
    <p class="white text-center"><a class="btn btn-sm btn-light" href="/plantation/index.html">Voir toutes nos zones d'intervention &raquo;</a></p>

    <p class="white text-center">VraieForet.com - Copyright 2021-2023 - Mentions légales</p>
    <p class="white text-center small">Société par action simplifiée - Capital : 1000,00 € - Siret : 913 113 445 00013 - RCS : Nantes - APE : 8130Z - N°TVA : FR13913113445</p>

  </div>
</div>
<!--FIN DU FOOTER-->
