{% extends "_base.njk" %} 
{% set actualite = row %}

{% block content %}
<div class="container">
  <h1>{{actualite.name}}</h1>
  <p>Publié le : {{actualite.date}}</p>
  {% if actualite.image %}
  <img
    src="{{actualite.image.thumbnails.large.url}}"
    loading="lazy"
  />
  {% endif %}
  {% if actualite.header %}
  <p>{{actualite.header}}</p>
  {% endif %}
  {% if actualite.content %}
  <p>
  {% markdown %}
    {{actualite.content}}
  {% endmarkdown %}
  </p>
  {% endif %}
  {% if actualite.youtube %}
  <p><a href="{{actualite.youtube}}">Youtube</a></p>
  {% endif %}
</div>

{% endblock %}