{% extends "_base.njk" %}
{% set commune = row %} 

{% block content %}

<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-5">
    <div class="col">
      <h1>Plantation à {{commune.name}}, {{commune.department}}</h1>
      <h2>Forêt, micro-forêt, bosquet, haie bocagère ou verger</h2>

      <script>  
      let myArray = [
      "Vous cherchez un partenaire pour une plantation forestière à {{commune.name}}, planter une haie bocagère, répondre à une obligation DREAL de replanter...", 
      "Vous cherchez une entreprise de plantation forestière pour vous accompagner dans votre projet de plantation forestière, pour planter une haie bocagère, creuser une mare...", 
      "Vous souhaitez déléguer la plantation d'une forêt, d'une haie bocagère ou d'un verger..."
      ];
      let randomValue = myArray[Math.floor(Math.random() * myArray.length)];
      document.write(randomValue);
      </script>
      <p>
        Découvrez les essences que nous vous recommandons par rapport à votre sol.
        <a class="green-link" href="/essences">Voir les essences d'arbres &raquo;</a>
      </p>
    </div>
  </div>  
</div>

{% endblock %}
