{% extends "_base.njk" %}
{% set commune = row %} 

{% block content %}

<div class="container">
  <h1>Plantation à {{commune.name}}, {{commune.department}}</h1>
  <h2>Bosquet, haie bocagère ou verger</h2>
  <p id="localParagraph"></p>
  <script>
  let randomValue = myArray[Math.floor(Math.random() * myArray.length)];
  let myArray = ["Vous cherchez un partenaire pour une plantation forestière à".{{commune.name}}.", planter une haie bocagère, répondre à une obligation DREAL de replanter...", "Vous cherchez une entreprise de plantation forestière pour vous accompagner dans votre projet de plantation forestière, pour planter une haie bocagère, creuser une mare...", "Vous souhaitez déléguer la plantation d'une forêt, d'une haie bocagère ou d'un verger..."];
  document.getElementById('localParagraph').value = randomValue;
  </script>
  <p>
    Découvrez les essences que nous vous recommandons par rapport à votre sol.
    <a href="/essences">Voir les essences d'arbres &raquo;</a>
  </p>
</div>

{% endblock %}
