{% extends "_base.njk" %} 

{% block content %}
<div class="container">
  <h1>Zones d'intervention</h1>
  <h2>Loire-Atlantique (44)</h2>
  <p>
  {% for commune in loireAtlantique %}
    <a href="/plantation/{{commune.slug}}.html">{{commune.name}}</a>,
  {% endfor %}
  </p>
  <h2>Maine et Loire (49)</h2>
  <p>
  {% for commune in maineEtLoire %}
    <a href="/plantation/{{commune.slug}}.html">{{commune.name}}</a>,
  {% endfor %}
  </p>
  <h2>Vendée (85)</h2>
  <p>
  {% for commune in vendee %}
    <a href="/plantation/{{commune.slug}}.html">{{commune.name}}</a>,
  {% endfor %}
  </p>
</div>
{% endblock %}
