{% extends "_base.njk" %} 

{% block content %}
<div class="container">

  <h1>Vraie Forêt</h1>
  <h2>Plantation de forêt, micro-forêt, haie & verger</h2>

  <br>
  <hr>
  <br>
  
  <h3>Services</h3>
  <div class="row justify-content-center row-cols-1 row-cols-md-3 g-4">
    {% for service in services %}
    <div class="col">
      <a href="/services/{{service.slug}}.html">
        <div class="card h-100">
          {% if service.image %}
          <img
            class="card-img-top"
            src="{{service.image.thumbnails.large.url}}"
            loading="lazy"
            alt="{{service.name}}"
          />
          {% endif %}
          <div class="card-body">
            <h4 class="card-title">{{service.name}}</h4>
            <p class="card-text small">
              {% markdown %}
              {{service.text | truncate(240, true, "...")}} </p>
              {% endmarkdown %}
            <p>
              {% for target in service.targets %}
              <span class="badge bg-secondary">{{target}}</span>{{ "," if not loop.last }}
              {% endfor %}
            </p>
            <button type="button" class="btn btn-success">En savoir plus &raquo;</button>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

  <br />
  <hr />
  <br />

  <h3>Méthode</h3>
  <div class="row justify-content-center row-cols-1 row-cols-md-3 g-4">
    {% for methode in methodes %}
    <div class="col">
      <div class="card h-100">
        <h4 class="card-title">{{methode.name}}</h4>
        {% if methode.image %}
        <img
          class="card-img-top"
          src="{{methode.image.thumbnails.large.url}}"
          loading="lazy"
          alt="{{methode.name}}"
        />
        {% endif %}
        <div class="card-body">
          <p>
            {% markdown %}
            {{methode.text}}
            {% endmarkdown %}
          </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <br />
  <hr />
  <br />

  <h3>Réalisations</h3>
  <p class="text-center">
    <a class="btn btn-lg btn-success" href="/realisations">Voir toutes les réalisations &raquo;</a>
  </p>
  {% for realisation in realisations %}
  <a href="/realisations/{{realisation.slug}}.html">
    <div>
      <h4>{{realisation.name}}</h4>
      {% if realisation.photo %}
      <img
        src="{{realisation.photo.thumbnails.large.url}}"
        loading="lazy"
      />
      {% endif %}
      <p>Chantier réalisé le : {{realisation.date}}</p>
      <p>{{realisation.department}}</p>
    </div>
  </a>
  {% endfor %}
  
  <br />
  <hr />
  <br />

  <h3>Questions Fréquentes</h3>
  <div class="accordion open accordion-flush" id="questionAccordion">
  {% for question in questionsFrequentes %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="question{{question.id}}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQuestion{{question.id}}" aria-expanded="true" aria-controls="collapseQuestion{{question.id}}">
          {{question.question}}
        </button>
      </h2>
      <div id="collapseQuestion{{question.id}}" class="accordion-collapse collapse" aria-labelledby="question{{question.id}}" data-bs-parent="#questionAccordion">
        <div class="accordion-body">
          <p>{% markdown %}{{question.answer}}{% endmarkdown %}</p>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
  <p>
    <a class="btn btn-lg btn-success" href="/questions-frequentes">Voir toutes les questions fréquentes &raquo;</a>
  </p>

  <br />
  <hr />
  <br />

  <h2>Actualités</h2>
  <br>
  <div class="row">
    <div class="col">
      <h4 class="section-title">Les 3 dernières vidéos sur <a class="green-link" href="https://www.youtube.com/channel/UC5ZooWI9T3czUWqXRfHKMCQ" target="_blank">notre chaîne Youtube</a></h4>
      <br>
      <div class="row">
        <div class="col-md-12 col-lg-4">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed?listType=playlist&list=UU5ZooWI9T3czUWqXRfHKMCQ&index=1" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed?listType=playlist&list=UU5ZooWI9T3czUWqXRfHKMCQ&index=2" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed?listType=playlist&list=UU5ZooWI9T3czUWqXRfHKMCQ&index=3" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% for actualite in actualites %}
  <a href="/actualites/{{actualite.slug}}.html">
    <div>
      <h3>{{actualite.name}}</h3>
      {% if actualite.image %}
      <img
        src="{{actualite.image.thumbnails.large.url}}"
        loading="lazy"
      />
      {% endif %}
      <p>Publié le : {{actualite.date}}</p>
    </div>
  </a>
  {% endfor %}
  <p><a href="/actualites">Voir toutes les actualités &raquo;</a></p>

</div>
{% endblock %}