{% extends "_base.njk" %} 

{% block content %}
<h3>Services</h3>

{% for service in services %}
<a href="/services/{{service.slug}}.html">
  <div>
    <h4>{{service.name}}</h4>
    {% if service.image %}
    <img
      src="{{service.image.thumbnails.large.url}}"
      loading="lazy"
    />
    {% endif %}
    <p>{{service.text | truncate(240, true, "...")}} </p>
    <p>
      {% for target in service.targets %}
      <span>{{target}}</span>{{ "," if not loop.last }}
      {% endfor %}
    </p>
    <button>En savoir plus &raquo;</button>
  </div>
</a>
{% endfor %}
<br />
<hr />
<br />
<h3>Méthode</h3>
{% for methode in methodes %}
<div>
  <h4>{{methode.name}}</h4>
  {% if methode.image %}
  <img
    src="{{methode.image.thumbnails.large.url}}"
    loading="lazy"
  />
  {% endif %}
  <p>{{methode.text}}</p>
</div>
{% endfor %}
<br />
<hr />
<br />
<h3>Réalisations</h3>
<p><a href="/realisations">Voir toutes les réalisations &raquo;</a></p>

{% for realisation in realisations %}
<a href="/realisations/{{realisation.slug}}.html">
  <div>
    <h4>{{realisation.name}}</h4>
    {% if realisation.photo %}
    <img
      src="{{realisation.photo.thumbnails.large.url}}"
      loading="lazy"
    />
    {% endif %}
    <p>Chantier réalisé le : {{realisation.date}}</p>
    <p>{{realisation.department}}</p>
  </div>
</a>
{% endfor %}
<br />
<hr />
<br />
<h3>Questions Fréquentes</h3>
{% for question in questionsFrequentes %}
<div>
  <h4>{{question.question}}</h4>
  <p>{{question.answer}}</p>
</div>
{% endfor %}
<p>
  <a href="/questions-frequentes"
    >Voir toutes les questions fréquentes &raquo;</a
  >
</p>
<br />
<hr />
<br />
<h2>Actualités</h2>
{% for actualite in actualites %}
<a href="/actualites/{{actualite.slug}}.html">
  <div>
    <h3>{{actualite.name}}</h3>
    {% if actualite.image %}
    <img
      src="{{actualite.image.thumbnails.large.url}}"
      loading="lazy"
    />
    {% endif %}
    <p>Publié le : {{actualite.date}}</p>
  </div>
</a>
{% endfor %}
<p><a href="/actualites">Voir toutes les actualités &raquo;</a></p>

{% endblock %}
