{% extends "_base.njk" %} 

{% block content %}
<div class="container home">

  <h1>Vraie Forêt</h1>
  <h2>Plantation de forêt, micro-forêt, haie &amp; verger</h2>

  <br>
  <hr>
  <br>
  
  <a class="anchor" name="Services"></a>
  <h3>Services</h3>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-4">
    {% for service in services %}
    <div class="col">
      <a class="card-link" href="/services/{{service.slug}}.html">
        <div class="card h-100">
          {% if service.image %}
          <img
            class="card-img-top"
            src="{{service.image.thumbnails.large.url}}"
            loading="lazy"
            alt="{{service.name}}"
          />
          {% endif %}
          <div class="card-body">
            <h4 class="card-title">{{service.name}}</h4>
            <div class="card-text small">
              {% markdown %}
              {{service.header | truncate(200, true, "[...]")}} </p>
              {% endmarkdown %}
            </div>
            <p>
              {% for target in service.targets %}
              <span class="badge small target-label">{{target}}</span>{{ " " if not loop.last }}
              {% endfor %}
            </p>
            <button type="button" class="text-center btn btn-success">En savoir plus &raquo;</button>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>

  <br />
  <hr />
  <br />

  <a class="anchor" name="Methode"></a>
  <h3>Méthode</h3>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-4">
    {% for methode in methodes %}
    <div class="col">
      <div class="card h-100 method-card">
        {% if methode.image %}
        <img
          class=""
          src="{{methode.image.thumbnails.large.url}}"
          loading="lazy"
          alt="{{methode.name}}"
        />
        {% endif %}
        <h4 class="card-title method-title">{{methode.name}}</h4>
        <div class="card-body method-body small">
          {% markdown %}
          {{methode.text}}
          {% endmarkdown %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <br />
  <hr />
  <br />

  <h3>Dernières réalisations</h3>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-4">
    {% for realisation in realisations %}
    <div class="col">
      <a class="card-link" href="/realisations/{{realisation.slug}}.html">
        <div class="card h-100">
          {% if realisation.photo %}
            <img
              class="card-img-top"
              src="{{realisation.photo.thumbnails.large.url}}"
              loading="lazy"
              alt="{{realisation.name}}"
            />
          {% endif %}
          <div class="card-body">  
            <h4 class="card-title">{{realisation.name}}</h4>
            <div class="card-text">
              <p><span class="badge small target-label">{{realisation.department}}</span></p>
              <button type="button" class="text-center btn btn-success btn-sm">Contexte &amp; témoignage client &raquo;</button>
            </div>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
    <div class="row">
      <p class="text-center">
        <a class="btn btn-lg btn-success" href="/realisations">Voir toutes les réalisations &raquo;</a>
      </p>
    </div>  
  </div>
  
  <br />
  <hr />
  <br />

  <h3>Questions Fréquentes</h3>
  <div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>

  <div class="accordion open accordion-flush" id="questionAccordion">
  {% for question in questionsFrequentes %}
    <div class="accordion-item">
      <h2 class="accordion-header" id="question{{question.id}}">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQuestion{{question.id}}" aria-expanded="true" aria-controls="collapseQuestion{{question.id}}">
          {{question.question}}
        </button>
      </h2>
      <div id="collapseQuestion{{question.id}}" class="accordion-collapse collapse" aria-labelledby="question{{question.id}}" data-bs-parent="#questionAccordion">
        <div class="accordion-body">
          <p>{% markdown %}{{question.answer}}{% endmarkdown %}</p>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>

  <div class="row">
    <p class="text-center">
      <a class="btn btn-lg btn-success" href="/questions-frequentes">Voir toutes les questions fréquentes &raquo;</a>
    </p>
  </div>

  <br />
  <hr />
  <br />

  <h2>Actualités</h2>
  <br>
  <div class="row">
    <div class="col">
      <h4 class="section-title">Les 3 dernières vidéos sur <a class="green-link" href="https://www.youtube.com/channel/UC5ZooWI9T3czUWqXRfHKMCQ" target="_blank">notre chaîne Youtube</a></h4>
      <br>
      <div class="row">
        <div class="col-md-12 col-lg-4">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed?listType=playlist&list=UU5ZooWI9T3czUWqXRfHKMCQ&index=1" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed?listType=playlist&list=UU5ZooWI9T3czUWqXRfHKMCQ&index=2" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed?listType=playlist&list=UU5ZooWI9T3czUWqXRfHKMCQ&index=3" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

  <div class="row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 g-4">
    {% for actualite in actualites %}
    <a class="card-link" href="/actualites/{{actualite.slug}}.html">
      <div class="col">
        <div class="card">
          <h3 class="card-title">{{actualite.name}}</h3>
          {% if actualite.image %}
          <img
            class="card-img-top"
            src="{{actualite.image.thumbnails.large.url}}"
            loading="lazy"
            alt="{{actualite.name}}"
          />
          {% endif %}
          <div class="card-text">
            <p>Publié le : {{actualite.date}}</p>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
    <div class="row">
      <p class="text-center">
        <a  class="btn btn-lg btn-success" href="/actualites">Voir toutes les actualités &raquo;</a>
      </p>
    </div>    
  </div>

</div>
{% endblock %}