{% extends "_base.njk" %} 
{% block content %}
<div class="container">
<h1>Réalisations</h1>
  {% for realisation in realisations %}
  <a href="/realisations/{{realisation.slug}}.html">
    <div>
      <h4>{{ realisation.name }}</h4>
      {% if realisation.photo %}
      <img
        src="{{realisation.photo.thumbnails.large.url}}"
        loading="lazy"
      />
      {% endif %}
      <p>Chantier réalisé le : {{realisation.date}}</p>
      <p>{{realisation.department}}</p>
    </div>
  </a>
  {% else %}
    <p>Aucune réalisation actuellement référencée.</p>
  {% endfor %}
</div>
{% endblock %}
