{% extends "_base.njk" %} 
{% set service = row %}

{% block content %}
<div class="container">
  <h1>{{service.name}}</h1>
  <div class="row g-5">
    <div class="col-md-4">
      {% if service.header %}
        {% markdown %}
        {{service.header}}
        {% endmarkdown %}
      {% endif %}
    </div>
    <div class="col-md-8">
      {% if service.thumb %}
      <img
        class="img-fluid"
        src="{{service.thumb.thumbnails.full.url}}"
        loading="lazy"
      />
      {% endif %}
    </div>
  </div>
  <div class="row g-5">
    <div class="col-md-4">
      {% if service.images %}
        {% for image in service.images %}
        <img
        class="img-fluid"
        src="{{image.thumbnails.small.large}}"
        loading="lazy"
        />
        <br />
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-md-8">
      {% if service.text %}
        {% markdown %}
        {{service.text}}
        {% endmarkdown %}
      {% endif %}
    </div>
  </div>
  
  <p>
    {% for target in service.targets %}
    <span>{{target}}</span>{{ "," if not loop.last }}
    {% endfor %}
  </p>
</div>
{% endblock %}