{% extends "_base.njk" %} 
{% set service = row %}

{% block content %}
<div class="container">
  <h1>{{service.name}}</h1>
  <div class="row g-5">
    <div class="col-md-3">
      {% if service.header %}
        {% markdown %}
        {{service.header}}
        {% endmarkdown %}
      {% endif %}
    </div>
    <div class="col-md-9">
      {% if service.image %}
      <img
        class="img-fluid"
        src="{{service.image.thumbnails.large.url}}"
        loading="lazy"
      />
      {% endif %}
    </div>
  </div>
  <div class="row g-5">
    <div class="col-md-5">
      {% if service.image %}
      {% for photo in service.image %}
      <img
      class="img-fluid"
      src="{{photo.image.thumbnails.small.url}}"
      loading="lazy"
      />
      {% endfor %}
      {% endif %}
    </div>
    <div class="col-md-7">
      {% if service.text %}
      <div>
        {% markdown %}
        {{service.text}}
        {% endmarkdown %}
      </div>
      {% endif %}
    </div>
  </div>
  
  <p>
    {% for target in service.targets %}
    <span>{{target}}</span>{{ "," if not loop.last }}
    {% endfor %}
  </p>
</div>
{% endblock %}